
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <title><%= title %></title>
  <style>
    body { font-family: Arial, sans-serif; padding: 20px; background: #f5f5f5; }
    h1 { color: #333; }
    h2 { color: #21da7e; }    
    table { width: 100%; border-collapse: collapse; background: white; }
    th, td { border: 1px solid #ddd; padding: 8px 12px; text-align: left; }
    th { background: #eee; }
    .status-badge {
      padding: 4px 8px;
      border-radius: 4px;
      color: white;
      font-size: 0.85rem;
      font-weight: bold;
    }
    button {
        padding: 8px 30px;
        border-radius: 6px;
        margin-top: 8px;
        border: 2px solid #b7c612;
        cursor: pointer;
    }
    button.in_cell {
        padding: 8px 30px;
        border-radius: 6px;
        border: 2px solid #b7c612;
        cursor: pointer;
    }
  </style>

</head>
<body>
  <h1><%= title %></h1>
  <% if (data_yes) { %>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Заказ-наряд</th>
        <th>Статус</th> 
        <th>Дата заявки</th>                
      </tr>
    </thead>
    <tbody>
      <% rows.forEach(rows => { %>
        <tr>
          <td><%= rows.ID %></td>
          <td><%= rows.NUMBER %></td>
          <td style="background-color: <%= statuses[rows.STATUS].color %>;"><%= statuses[rows.STATUS].label %></td> 
          <td><%= rows.formattedDate %></td>           

          <td style="text-align: center; vertical-align: middle;">  
            <form action="/view/<%= rows.ID%>" method="get">
              <button type="submit">Открыть</button>
            </form></td>
            <td style="text-align: center; vertical-align: middle;">
            <form action="/delete/<%= rows.ID%>" method="get">
              <button type="submit">Удалить</button>
            </form></td>                                
        </tr>
      <% }); %>
    </tbody>
  </table>
  <% } else { %>
  <h2>Записей не найдено...</h2>
  <% } %>
  <form action="/add" method="get">
    <button class = "in_cell" type="submit">Добавить</button>
  </form>
</body>
</html>