<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <h1>Редактирование строки <%= row[0].ID %></h1>
    <form action="/update/<%= row[0].ID %>" method="post">

      <input type="text" name="name" placeholder="Введите ваш заказ-наряд" value="<%= row[0].NUMBER %>">
<select name="orderStatus" id="orderStatus">
      <option value="<%= row[0].STATUS %>" disabled selected>Выберите статус</option>
      <% for (const key in statuses) { %>
        <% const status = statuses[key]; %>
        <option value="<%= key %>" 
          <% if (key === statuses[row[0].STATUS].key) { %> 
            selected="selected"
          <% } %>
          style="color: <%= status.color %>;">
          <%= status.label %>
        </option>
      <% } %>
    </select>
      <label for="order_date">Дата заявки:</label>

      <input type="date" id="order_date" name="order_date" value="<%= row[0].formattedDate %>">
      <button type="submit">Изменить</button>

  </form>
</body>
</html>